BINING METHOD

In [72]:
import pandas as pd
import numpy as np

df=pd.read_csv("voter.csv")
df.head()

,ID,Aadhaar,FirstName,LastName,MotherName,FatherName,Sex,Birthday,Age,District ID,Phone,Voter ID,Def_Password
0,1,3591 4628 3661,Akash,Singh,Aishwarya,Bhavesh,M,16-02-1984,37,234,"9623412913 , 9862280999",ABC659753,ABC@3661
1,2,5773 7940 7366,Dipti,Kumar,Gayatri,Dheeraj,F,13-01-1998,23,235,"9222325956 , 9234010331",JID563930,JID@7366
2,3,7820 3429 4038,Shlok,Agarwal,Aparna,Girish,M,04-02-1988,33,234,"9722768470 , 9879630940",KOF752745,KOF@4038
3,4,6169 5028 5641,Rashid,Khan,Indira,Abhay,M,17-10-1976,44,235,"9414321457 , 9747286739",KFL505615,KFL@5641
4,5,7367 4166 6818,Nicole,Dias,Juhi,Deepak,F,08-12-1991,29,234,"9913542379 , 9525504465",OKF618375,OKF@6818

In [73]:
#Sorting top 30 AGE

select=df['Age'].head(30)
select=list(select)
select.sort()
print(select)

[22, 22, 23, 23, 28, 29, 29, 29, 30, 30, 30, 33, 33, 34, 37, 37, 37, 39, 40, 43, 43, 44, 44, 45, 45, 45, 46, 48, 49, 72]

In [74]:
#Equal Bin

size=len(select)//3
print(size)

bin1=select[:size]
bin2=select[size:2*size]
bin3=select[2*size:]

print(bin1)
print(bin2)
print(bin3)

10
[22, 22, 23, 23, 28, 29, 29, 29, 30, 30]
[30, 33, 33, 34, 37, 37, 37, 39, 40, 43]
[43, 44, 44, 45, 45, 45, 46, 48, 49, 72]

In [75]:
#Bin by MEAN

mean=sum(bin1)/len(bin1)
for i in range(len(bin1)):
    bin1[i]=mean

print("Bin Mean: \n",bin1)

[26.5, 26.5, 26.5, 26.5, 26.5, 26.5, 26.5, 26.5, 26.5, 26.5]

In [69]:
#bin by Boundary

min_v = bin2[0]
max_v = bin2[-1]

for i in range(len(bin2)):
    min_d = bin2[i]-min_v
    max_d = max_v-bin2[i]
    
    if min_d<max_d:
        bin2[i] = min_v
    else:
        bin2[i] = max_v

print("Bin Boundaries: \n",bin2)

[30, 30, 30, 30, 43, 43, 43, 43, 43, 43]

In [76]:
#Bin by Median

import statistics

m=statistics.median(bin3)
for i in range(len(bin3)):
    bin3[i] = m

print("Bin Median: \n",bin3)

[45.0, 45.0, 45.0, 45.0, 45.0, 45.0, 45.0, 45.0, 45.0, 45.0]