PERFORM DATA CLEANING OPERATIONS USING PYTHON

In [12]:
import pandas as pd
import numpy as np

df=pd.read_csv("Gold Price Prediction.csv")

In [14]:
df.head()

,Date,Price 2 Days Prior,Price 1 Day Prior,Price Today,Price Tomorrow,Price Change Tomorrow,Price Change Ten,Std Dev 10,Twenty Moving Average,Fifty Day Moving Average,...,Monthly Inflation Rate,EFFR Rate,Volume,Treasury Par Yield Month,Treasury Par Yield Two Year,Treasury Par Yield Curve Rates (10 Yr),DXY,SP Open,VIX,Crude
0,8/7/24,2405.87,2384.90,2385.83,2385.83,0.93,8.82,30.155078,2414.7450,2368.2948,...,3.0,5.33,96,5.50,4.00,3.96,103.37,5293.13,24.77,72.84
1,8/6/24,2442.74,2405.87,2384.90,2385.83,0.93,NaN,29.423936,2414.1525,2367.7916,...,3.0,5.33,89,5.50,3.99,3.90,102.78,5206.42,33.71,73.86
2,8/5/24,2447.17,2442.74,2405.87,2384.90,-20.97,NaN,28.341301,2413.2305,2367.1584,...,3.0,5.33,86,5.52,3.89,3.78,103.22,5151.14,23.39,74.21
3,8/2/24,2447.23,2447.17,2442.74,2405.87,-36.87,NaN,28.616661,2411.0920,2365.7250,...,3.0,5.33,89,5.54,3.88,3.80,104.31,5376.63,20.52,76.87
4,8/1/24,2411.09,2447.23,2447.17,2442.74,-4.43,NaN,26.084796,2408.5670,2363.5624,...,3.0,5.33,83,5.55,4.16,3.99,104.07,5537.84,16.20,78.59

In [15]:
df.tail()

,Date,Price 2 Days Prior,Price 1 Day Prior,Price Today,Price Tomorrow,Price Change Tomorrow,Price Change Ten,Std Dev 10,Twenty Moving Average,Fifty Day Moving Average,...,Monthly Inflation Rate,EFFR Rate,Volume,Treasury Par Yield Month,Treasury Par Yield Two Year,Treasury Par Yield Curve Rates (10 Yr),DXY,SP Open,VIX,Crude
671,1/7/22,1810.28,1791.61,1796.41,1801.52,5.11,38.17,NaN,450.8225,180.3290,...,7.5,0.1,71,0.05,0.87,1.76,96.26,4697.66,19.85,79.62
672,1/6/22,1813.88,1810.28,1791.61,1796.41,4.80,47.40,NaN,361.0020,144.4008,...,7.5,0.1,73,0.04,0.88,1.73,96.20,4693.39,20.29,77.24
673,1/5/22,1804.27,1813.88,1810.28,1791.61,-18.67,28.30,NaN,271.4215,108.5686,...,7.5,0.1,74,0.05,0.83,1.71,96.31,4787.99,17.07,77.18
674,1/4/22,1815.73,1804.27,1813.88,1810.28,-3.60,0.45,NaN,180.9075,72.3630,...,7.5,0.1,74,0.06,0.77,1.66,96.19,4804.51,16.57,76.02
675,1/3/22,1804.64,1829.05,1804.27,1813.88,9.61,14.95,NaN,90.2135,36.0854,...,7.5,0.1,74,0.05,0.78,1.63,95.67,4778.14,17.60,75.69

In [16]:
df.isnull()

,Date,Price 2 Days Prior,Price 1 Day Prior,Price Today,Price Tomorrow,Price Change Tomorrow,Price Change Ten,Std Dev 10,Twenty Moving Average,Fifty Day Moving Average,...,Monthly Inflation Rate,EFFR Rate,Volume,Treasury Par Yield Month,Treasury Par Yield Two Year,Treasury Par Yield Curve Rates (10 Yr),DXY,SP Open,VIX,Crude
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
672,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
673,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
674,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
675,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [17]:
df.isnull().sum()

Date                                      0
Price 2 Days Prior                        0
Price 1 Day Prior                         0
Price Today                               0
Price Tomorrow                            0
Price Change Tomorrow                     0
Price Change Ten                          9
Std Dev 10                                9
Twenty Moving Average                     0
Fifty Day Moving Average                  0
200 Day Moving Average                    0
Monthly Inflation Rate                    0
EFFR Rate                                 0
Volume                                    0
Treasury Par Yield Month                  0
Treasury Par Yield Two Year               0
Treasury Par Yield Curve Rates (10 Yr)    0
DXY                                       0
SP Open                                   0
VIX                                       0
Crude                                     0
dtype: int64

In [20]:
df.describe()

,Price 2 Days Prior,Price 1 Day Prior,Price Today,Price Tomorrow,Price Change Tomorrow,Price Change Ten,Std Dev 10,Twenty Moving Average,Fifty Day Moving Average,200 Day Moving Average,Monthly Inflation Rate,EFFR Rate,Volume,Treasury Par Yield Month,Treasury Par Yield Two Year,Treasury Par Yield Curve Rates (10 Yr),DXY,SP Open,VIX,Crude
count,676.000000,676.000000,676.000000,676.00000,676.000000,676.000000,667.000000,676.000000,676.000000,676.000000,676.000000,676.000000,676.000000,676.000000,676.000000,676.000000,676.000000,676.000000,676.000000,676.000000
mean,1956.236228,1957.114305,1957.937944,1958.79824,0.861672,8.944228,20.995813,1924.073017,1871.380976,1622.592107,5.410355,3.680621,94.670118,3.892293,3.977944,3.648092,103.845251,4419.902308,19.881361,84.382929
std,192.959980,193.560530,194.198338,194.80379,17.518782,55.267939,10.470747,265.468530,345.304237,540.444267,2.248175,2.000887,15.576974,1.996601,1.074036,0.766838,3.444444,499.216045,6.054484,11.856576
min,1627.040000,1627.040000,1627.040000,1627.04000,-81.890000,-124.290000,5.587177,90.213500,36.085400,9.021350,3.000000,0.080000,41.000000,0.020000,0.770000,1.630000,94.870000,3520.370000,11.530000,66.620000
25%,1823.587500,1824.490000,1824.490000,1824.97000,-9.090000,-28.420000,13.668920,1827.777875,1798.103600,1567.168475,3.200000,2.330000,83.000000,2.367500,3.400000,3.267500,102.297500,4025.432500,14.235000,76.555000
50%,1930.910000,1931.405000,1931.515000,1931.77500,0.710000,3.395000,18.307964,1927.932750,1919.624800,1814.988850,4.900000,4.830000,95.000000,4.700000,4.360000,3.810000,103.990000,4343.605000,19.070000,81.025000
75%,2021.452500,2022.290000,2023.977500,2024.32750,10.855000,42.065000,25.866758,2010.718500,1993.311900,1954.031825,7.900000,5.330000,104.000000,5.510000,4.730000,4.230000,105.390000,4715.932500,24.050000,88.765000
max,2469.650000,2469.650000,2469.650000,2469.65000,66.660000,186.170000,62.183588,2414.745000,2368.294800,2189.807800,9.100000,5.330000,144.000000,6.020000,5.190000,4.980000,114.190000,5644.090000,37.500000,124.660000

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 676 entries, 0 to 675
Data columns (total 21 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Date                                    676 non-null    object
 1   Price 2 Days Prior                      676 non-null    float64
 2   Price 1 Day Prior                       676 non-null    float64
 3   Price Today                             676 non-null    float64
 4   Price Tomorrow                          676 non-null    float64
 5   Price Change Tomorrow                   676 non-null    float64
 6   Price Change Ten                        676 non-null    float64
 7   Std Dev 10                              667 non-null    float64
 8   Twenty Moving Average                   676 non-null    float64
 9   Fifty Day Moving Average                676 non-null    float64
 10  200 Day Moving Average                  676 non-null    float64
 11  Monthly Inflation Rate                  676 non-null    float64
 12  EFFR Rate                               676 non-null    float64
 13  Volume                                  676 non-null    int64
 14  Treasury Par Yield Month                676 non-null    float64
 15  Treasury Par Yield Two Year             676 non-null    float64
 16  Treasury Par Yield Curve Rates (10 Yr)  676 non-null    float64
 17  DXY                                     676 non-null    float64
 18  SP Open                                 676 non-null    float64
 19  VIX                                     676 non-null    float64
 20  Crude                                   676 non-null    float64
dtypes: float64(19), int64(1), object(1)
memory usage: 111.0+ KB

In [18]:
df['Price Change Ten'].fillna(df['Price Change Ten'].mean(), inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_4900\2265996693.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Price Change Ten'].fillna(df['Price Change Ten'].mean(), inplace=True)

In [22]:
df_drop=df.dropna()
df_drop

,Date,Price 2 Days Prior,Price 1 Day Prior,Price Today,Price Tomorrow,Price Change Tomorrow,Price Change Ten,Std Dev 10,Twenty Moving Average,Fifty Day Moving Average,...,Monthly Inflation Rate,EFFR Rate,Volume,Treasury Par Yield Month,Treasury Par Yield Two Year,Treasury Par Yield Curve Rates (10 Yr),DXY,SP Open,VIX,Crude
0,8/7/24,2405.87,2384.90,2385.83,2385.83,0.93,8.820000,30.155078,2414.7450,2368.2948,...,3.0,5.33,96,5.50,4.00,3.96,103.37,5293.13,24.77,72.84
1,8/6/24,2442.74,2405.87,2384.90,2385.83,0.93,8.944228,29.423936,2414.1525,2367.7916,...,3.0,5.33,89,5.50,3.99,3.90,102.78,5206.42,33.71,73.86
2,8/5/24,2447.17,2442.74,2405.87,2384.90,-20.97,8.944228,28.341301,2413.2305,2367.1584,...,3.0,5.33,86,5.52,3.89,3.78,103.22,5151.14,23.39,74.21
3,8/2/24,2447.23,2447.17,2442.74,2405.87,-36.87,8.944228,28.616661,2411.0920,2365.7250,...,3.0,5.33,89,5.54,3.88,3.80,104.31,5376.63,20.52,76.87
4,8/1/24,2411.09,2447.23,2447.17,2442.74,-4.43,8.944228,26.084796,2408.5670,2363.5624,...,3.0,5.33,83,5.55,4.16,3.99,104.07,5537.84,16.20,78.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,1/20/22,1814.33,1838.58,1839.01,1834.58,-4.43,-33.250000,13.626305,1270.6970,508.2788,...,7.5,0.10,75,0.05,1.08,1.83,95.59,4547.35,23.46,86.23
663,1/19/22,1819.22,1814.33,1838.58,1839.01,0.43,-30.680000,14.271937,1178.7465,471.4986,...,7.5,0.10,73,0.05,1.04,1.83,95.77,4588.03,23.12,86.61
664,1/18/22,1817.43,1819.22,1814.33,1838.58,24.25,-13.560000,11.544873,1086.8175,434.7270,...,7.5,0.10,71,0.05,1.06,1.87,95.22,4632.24,21.18,84.32
665,1/17/22,1821.16,1817.43,1819.22,1814.33,-4.89,-21.300000,11.534875,996.1010,398.4404,...,7.5,0.10,71,0.05,1.02,1.83,95.73,4637.99,20.11,81.73
666,1/14/22,1825.36,1821.16,1817.43,1819.22,1.79,-25.320000,11.431082,905.1400,362.0560,...,7.5,0.10,72,0.05,0.99,1.78,94.87,4637.99,20.11,81.73

In [23]:
df_fill_G=df.fillna(40)
df_fill_G

,Date,Price 2 Days Prior,Price 1 Day Prior,Price Today,Price Tomorrow,Price Change Tomorrow,Price Change Ten,Std Dev 10,Twenty Moving Average,Fifty Day Moving Average,...,Monthly Inflation Rate,EFFR Rate,Volume,Treasury Par Yield Month,Treasury Par Yield Two Year,Treasury Par Yield Curve Rates (10 Yr),DXY,SP Open,VIX,Crude
0,8/7/24,2405.87,2384.90,2385.83,2385.83,0.93,8.820000,30.155078,2414.7450,2368.2948,...,3.0,5.33,96,5.50,4.00,3.96,103.37,5293.13,24.77,72.84
1,8/6/24,2442.74,2405.87,2384.90,2385.83,0.93,8.944228,29.423936,2414.1525,2367.7916,...,3.0,5.33,89,5.50,3.99,3.90,102.78,5206.42,33.71,73.86
2,8/5/24,2447.17,2442.74,2405.87,2384.90,-20.97,8.944228,28.341301,2413.2305,2367.1584,...,3.0,5.33,86,5.52,3.89,3.78,103.22,5151.14,23.39,74.21
3,8/2/24,2447.23,2447.17,2442.74,2405.87,-36.87,8.944228,28.616661,2411.0920,2365.7250,...,3.0,5.33,89,5.54,3.88,3.80,104.31,5376.63,20.52,76.87
4,8/1/24,2411.09,2447.23,2447.17,2442.74,-4.43,8.944228,26.084796,2408.5670,2363.5624,...,3.0,5.33,83,5.55,4.16,3.99,104.07,5537.84,16.20,78.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,1/7/22,1810.28,1791.61,1796.41,1801.52,5.11,38.170000,40.000000,450.8225,180.3290,...,7.5,0.10,71,0.05,0.87,1.76,96.26,4697.66,19.85,79.62
672,1/6/22,1813.88,1810.28,1791.61,1796.41,4.80,47.400000,40.000000,361.0020,144.4008,...,7.5,0.10,73,0.04,0.88,1.73,96.20,4693.39,20.29,77.24
673,1/5/22,1804.27,1813.88,1810.28,1791.61,-18.67,28.300000,40.000000,271.4215,108.5686,...,7.5,0.10,74,0.05,0.83,1.71,96.31,4787.99,17.07,77.18
674,1/4/22,1815.73,1804.27,1813.88,1810.28,-3.60,0.450000,40.000000,180.9075,72.3630,...,7.5,0.10,74,0.06,0.77,1.66,96.19,4804.51,16.57,76.02
675,1/3/22,1804.64,1829.05,1804.27,1813.88,9.61,14.950000,40.000000,90.2135,36.0854,...,7.5,0.10,74,0.05,0.78,1.63,95.67,4778.14,17.60,75.69

In [24]:
df.ffill()

,Date,Price 2 Days Prior,Price 1 Day Prior,Price Today,Price Tomorrow,Price Change Tomorrow,Price Change Ten,Std Dev 10,Twenty Moving Average,Fifty Day Moving Average,...,Monthly Inflation Rate,EFFR Rate,Volume,Treasury Par Yield Month,Treasury Par Yield Two Year,Treasury Par Yield Curve Rates (10 Yr),DXY,SP Open,VIX,Crude
0,8/7/24,2405.87,2384.90,2385.83,2385.83,0.93,8.820000,30.155078,2414.7450,2368.2948,...,3.0,5.33,96,5.50,4.00,3.96,103.37,5293.13,24.77,72.84
1,8/6/24,2442.74,2405.87,2384.90,2385.83,0.93,8.944228,29.423936,2414.1525,2367.7916,...,3.0,5.33,89,5.50,3.99,3.90,102.78,5206.42,33.71,73.86
2,8/5/24,2447.17,2442.74,2405.87,2384.90,-20.97,8.944228,28.341301,2413.2305,2367.1584,...,3.0,5.33,86,5.52,3.89,3.78,103.22,5151.14,23.39,74.21
3,8/2/24,2447.23,2447.17,2442.74,2405.87,-36.87,8.944228,28.616661,2411.0920,2365.7250,...,3.0,5.33,89,5.54,3.88,3.80,104.31,5376.63,20.52,76.87
4,8/1/24,2411.09,2447.23,2447.17,2442.74,-4.43,8.944228,26.084796,2408.5670,2363.5624,...,3.0,5.33,83,5.55,4.16,3.99,104.07,5537.84,16.20,78.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,1/7/22,1810.28,1791.61,1796.41,1801.52,5.11,38.170000,11.431082,450.8225,180.3290,...,7.5,0.10,71,0.05,0.87,1.76,96.26,4697.66,19.85,79.62
672,1/6/22,1813.88,1810.28,1791.61,1796.41,4.80,47.400000,11.431082,361.0020,144.4008,...,7.5,0.10,73,0.04,0.88,1.73,96.20,4693.39,20.29,77.24
673,1/5/22,1804.27,1813.88,1810.28,1791.61,-18.67,28.300000,11.431082,271.4215,108.5686,...,7.5,0.10,74,0.05,0.83,1.71,96.31,4787.99,17.07,77.18
674,1/4/22,1815.73,1804.27,1813.88,1810.28,-3.60,0.450000,11.431082,180.9075,72.3630,...,7.5,0.10,74,0.06,0.77,1.66,96.19,4804.51,16.57,76.02
675,1/3/22,1804.64,1829.05,1804.27,1813.88,9.61,14.950000,11.431082,90.2135,36.0854,...,7.5,0.10,74,0.05,0.78,1.63,95.67,4778.14,17.60,75.69

In [25]:
df.bfill()

,Date,Price 2 Days Prior,Price 1 Day Prior,Price Today,Price Tomorrow,Price Change Tomorrow,Price Change Ten,Std Dev 10,Twenty Moving Average,Fifty Day Moving Average,...,Monthly Inflation Rate,EFFR Rate,Volume,Treasury Par Yield Month,Treasury Par Yield Two Year,Treasury Par Yield Curve Rates (10 Yr),DXY,SP Open,VIX,Crude
0,8/7/24,2405.87,2384.90,2385.83,2385.83,0.93,8.820000,30.155078,2414.7450,2368.2948,...,3.0,5.33,96,5.50,4.00,3.96,103.37,5293.13,24.77,72.84
1,8/6/24,2442.74,2405.87,2384.90,2385.83,0.93,8.944228,29.423936,2414.1525,2367.7916,...,3.0,5.33,89,5.50,3.99,3.90,102.78,5206.42,33.71,73.86
2,8/5/24,2447.17,2442.74,2405.87,2384.90,-20.97,8.944228,28.341301,2413.2305,2367.1584,...,3.0,5.33,86,5.52,3.89,3.78,103.22,5151.14,23.39,74.21
3,8/2/24,2447.23,2447.17,2442.74,2405.87,-36.87,8.944228,28.616661,2411.0920,2365.7250,...,3.0,5.33,89,5.54,3.88,3.80,104.31,5376.63,20.52,76.87
4,8/1/24,2411.09,2447.23,2447.17,2442.74,-4.43,8.944228,26.084796,2408.5670,2363.5624,...,3.0,5.33,83,5.55,4.16,3.99,104.07,5537.84,16.20,78.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,1/7/22,1810.28,1791.61,1796.41,1801.52,5.11,38.170000,NaN,450.8225,180.3290,...,7.5,0.10,71,0.05,0.87,1.76,96.26,4697.66,19.85,79.62
672,1/6/22,1813.88,1810.28,1791.61,1796.41,4.80,47.400000,NaN,361.0020,144.4008,...,7.5,0.10,73,0.04,0.88,1.73,96.20,4693.39,20.29,77.24
673,1/5/22,1804.27,1813.88,1810.28,1791.61,-18.67,28.300000,NaN,271.4215,108.5686,...,7.5,0.10,74,0.05,0.83,1.71,96.31,4787.99,17.07,77.18
674,1/4/22,1815.73,1804.27,1813.88,1810.28,-3.60,0.450000,NaN,180.9075,72.3630,...,7.5,0.10,74,0.06,0.77,1.66,96.19,4804.51,16.57,76.02
675,1/3/22,1804.64,1829.05,1804.27,1813.88,9.61,14.950000,NaN,90.2135,36.0854,...,7.5,0.10,74,0.05,0.78,1.63,95.67,4778.14,17.60,75.69

In [26]:
Mean=df["Price Change Ten"].mean()
df.mean=df.fillna(Mean)
df.mean

,Date,Price 2 Days Prior,Price 1 Day Prior,Price Today,Price Tomorrow,Price Change Tomorrow,Price Change Ten,Std Dev 10,Twenty Moving Average,Fifty Day Moving Average,...,Monthly Inflation Rate,EFFR Rate,Volume,Treasury Par Yield Month,Treasury Par Yield Two Year,Treasury Par Yield Curve Rates (10 Yr),DXY,SP Open,VIX,Crude
0,8/7/24,2405.87,2384.90,2385.83,2385.83,0.93,8.820000,30.155078,2414.7450,2368.2948,...,3.0,5.33,96,5.50,4.00,3.96,103.37,5293.13,24.77,72.84
1,8/6/24,2442.74,2405.87,2384.90,2385.83,0.93,8.944228,29.423936,2414.1525,2367.7916,...,3.0,5.33,89,5.50,3.99,3.90,102.78,5206.42,33.71,73.86
2,8/5/24,2447.17,2442.74,2405.87,2384.90,-20.97,8.944228,28.341301,2413.2305,2367.1584,...,3.0,5.33,86,5.52,3.89,3.78,103.22,5151.14,23.39,74.21
3,8/2/24,2447.23,2447.17,2442.74,2405.87,-36.87,8.944228,28.616661,2411.0920,2365.7250,...,3.0,5.33,89,5.54,3.88,3.80,104.31,5376.63,20.52,76.87
4,8/1/24,2411.09,2447.23,2447.17,2442.74,-4.43,8.944228,26.084796,2408.5670,2363.5624,...,3.0,5.33,83,5.55,4.16,3.99,104.07,5537.84,16.20,78.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,1/7/22,1810.28,1791.61,1796.41,1801.52,5.11,38.170000,8.944228,450.8225,180.3290,...,7.5,0.10,71,0.05,0.87,1.76,96.26,4697.66,19.85,79.62
672,1/6/22,1813.88,1810.28,1791.61,1796.41,4.80,47.400000,8.944228,361.0020,144.4008,...,7.5,0.10,73,0.04,0.88,1.73,96.20,4693.39,20.29,77.24
673,1/5/22,1804.27,1813.88,1810.28,1791.61,-18.67,28.300000,8.944228,271.4215,108.5686,...,7.5,0.10,74,0.05,0.83,1.71,96.31,4787.99,17.07,77.18
674,1/4/22,1815.73,1804.27,1813.88,1810.28,-3.60,0.450000,8.944228,180.9075,72.3630,...,7.5,0.10,74,0.06,0.77,1.66,96.19,4804.51,16.57,76.02
675,1/3/22,1804.64,1829.05,1804.27,1813.88,9.61,14.950000,8.944228,90.2135,36.0854,...,7.5,0.10,74,0.05,0.78,1.63,95.67,4778.14,17.60,75.69

In [27]:
Mean=df["Price Today"].mean()
print(Mean)

1957.937943786982

In [28]:
Median=df["Price Today"].median()
print(Median)

1931.5149999999999

In [29]:
Mode=df["Price Today"].mode()
print(Mode)

0    1725.42
1    1901.64
2    1919.54
Name: Price Today, dtype: float64