Perform Association Technique (APRIORI ALGORITHM)

In [1]:
!pip install apyori

Requirement already satisfied: apyori in c:\users\yash\appdata\local\programs\python\python311\lib\site-packages (1.1.2)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
# Apriori       #TRANSCATION DATA SET WITH TRANS ID AND TRANSCATION
import pandas as pd
import numpy as np
from apyori import apriori

df=pd.read_csv("Titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [3]:
df.shape

(418, 12)

In [4]:
record=[]
for i in range(0,17):
    record.append([str(df.values[i,j]) for j in range(0,5)])

In [5]:
association_rules=apriori(record,min_support=0.1,min_confidence=0.9)
association_results=list(association_rules)
print(len(association_results))
print('\n'.join(map(str,association_results)))

5
RelationRecord(items=frozenset({'0', 'male'}), support=0.5882352941176471, ordered_statistics=[OrderedStatistic(items_base=frozenset({'0'}), items_add=frozenset({'male'}), confidence=1.0, lift=1.7), OrderedStatistic(items_base=frozenset({'male'}), items_add=frozenset({'0'}), confidence=1.0, lift=1.7)])
RelationRecord(items=frozenset({'1', 'female'}), support=0.4117647058823529, ordered_statistics=[OrderedStatistic(items_base=frozenset({'female'}), items_add=frozenset({'1'}), confidence=1.0, lift=2.125)])
RelationRecord(items=frozenset({'0', 'male', '2'}), support=0.23529411764705882, ordered_statistics=[OrderedStatistic(items_base=frozenset({'0', '2'}), items_add=frozenset({'male'}), confidence=1.0, lift=1.7), OrderedStatistic(items_base=frozenset({'male', '2'}), items_add=frozenset({'0'}), confidence=1.0, lift=1.7)])
RelationRecord(items=frozenset({'0', 'male', '3'}), support=0.29411764705882354, ordered_statistics=[OrderedStatistic(items_base=frozenset({'0', '3'}), items_add=frozenset({'male'}), confidence=1.0, lift=1.7), OrderedStatistic(items_base=frozenset({'male', '3'}), items_add=frozenset({'0'}), confidence=1.0, lift=1.7)])
RelationRecord(items=frozenset({'1', 'female', '3'}), support=0.23529411764705882, ordered_statistics=[OrderedStatistic(items_base=frozenset({'1', '3'}), items_add=frozenset({'female'}), confidence=1.0, lift=2.428571428571429), OrderedStatistic(items_base=frozenset({'female', '3'}), items_add=frozenset({'1'}), confidence=1.0, lift=2.125)])